<h2 style="color: blue;">Component Communication in single page</h2>
<!-- display products page using bootstrap -->
<div class="container">
    <!-- alert in botstrap -->
    <div class="alert alert-primary d-flex align-items-center" role="alert" *ngIf="addedProduct">
        <p class="col-9">{{addedProduct}} is added to cart</p>
        <button class="btn btn-primary ml-auto col-3">Checkout</button>
        <hr>
    </div>
    <div class="row">
        <div class="col-4 m-5">
            <h1>Products</h1>
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title primary">Mobile</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, at?
                        </p>
                        <button href="#" class="btn btn-primary" (click)="onSelected('Mobile')">Select
                            Product</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 m-5">
            <h1>Products</h1>
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title primary">Laptop</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, at?
                        </p>
                        <button href="#" class="btn btn-primary" (click)="onSelected('Laptop')">Select
                            Product</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-4 m-5">
            <h1>Products</h1>
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title primary">Desktop Computer</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, at?
                        </p>
                        <button href="#" class="btn btn-primary" (click)="onSelected('Desktop Computer')">Select
                            Product</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 bg-primary text-center p-2">
            <h3 *ngIf="!productSelected">Please select product</h3>
            <h4 *ngIf="productSelected">{{product_name}} is selected</h4>
            <button class="btn btn-danger" (click)="onAddProduct()">Add to cart</button>
        </div>
    </div>
</div>

<!-- points to remember 
    =>here first we make condition, if any product is selected then only show  product_name is selected,
    else show please select product
for this we use *ngIf

    =>make the product button with click event and call the onSelected method
    =>with onSelected method we pass the product name as parameter
    =>if any product is selected then only show to below and hide the please select product
    
    => for alert we make first div for alert
    =>then we have add a function onAddProduct() and call it on button click
    =>in this function we set the addedProduct to product_name
    =>then we show the alert with *ngIf
    =>then we show the checkout button
-->